/* ---------------------------- PALETA DE COLORES --------------------------- */
/* --------------------------------- FUENTES -------------------------------- */
* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box; }

.body {
  background-image: url(/images/Fondo2.jpg); }

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- HEADER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  background-image: url(/images/Fondotot1.jpg); }

.titulopag {
  margin: 70px 0px 20px 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center; }
  .titulopag a {
    text-decoration: none;
    list-style: none; }

.tituloPagina {
  color: blueviolet;
  font-size: 60px;
  font-family: "Rubik Moonrocks", cursive; }
  .tituloPagina span {
    color: #126f3c; }

.barra {
  flex: 1;
  max-width: 850px; }
  .barra .nav {
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    margin-top: 100px;
    margin-right: 250px; }
  .barra li {
    list-style-type: none; }
    .barra li a {
      text-decoration: none;
      list-style: none;
      font-size: 20px;
      font-family: "Permanent Marker", cursive;
      color: #c3e24c; }
    .barra li :hover {
      color: #6fa74c; }

.inicioSesionBoton {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  margin: 0px 30px 20px 0px; }
  .inicioSesionBoton a {
    text-decoration: none;
    list-style: none;
    font-family: "Permanent Marker", cursive; }
  .inicioSesionBoton :hover {
    color: #6fa74c; }

.inicioSesionBot {
  font-size: 20px;
  text-align: center;
  color: #c3e24c; }

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- FOOTER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-image: url(/images/Fondotot1.jpg); }
  .footer .contactoFooter {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px; }
    .footer .contactoFooter a {
      padding: 15px;
      color: #c3e24c; }
    .footer .contactoFooter :hover {
      color: #6fa74c; }
  .footer .subir {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .subir a {
      padding: 15px;
      color: #c3e24c; }
    .footer .subir :hover {
      color: #6fa74c; }
  .footer .redes {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 30px; }
    .footer .redes a {
      padding: 15px;
      color: #c3e24c; }
    .footer .redes :hover {
      color: #6fa74c; }

/* ------------------------------------ . ----------------------------------- */
/* ---------------------------------- INDEX --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
/* -------------------------------- NOTICIAS -------------------------------- */
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .news h2 {
    font-size: 40px;
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735; }
  .news ul {
    list-style: none; }

.new1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .new1 h3 {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    font-size: 35px; }
  .new1 img {
    border: 5px solid transparent;
    padding: 0px;
    border-image: url(/images/fondoimgs.jpg) 30 round; }
  .new1 .adjuntoNota {
    width: 60%;
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #124735ce;
    font-size: 20px;
    border: solid 3px #126f3c;
    border-radius: 5px; }
  .new1 p {
    width: 60%;
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }
  .new1 a {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

.new2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .new2 h3 {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    font-size: 35px; }
  .new2 p {
    width: 60%;
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577; }
