/* ---------------------------- PALETA DE COLORES --------------------------- */
/* --------------------------------- FUENTES -------------------------------- */
/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- HEADER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.headerNormal {
  display: none; }

.navMobile {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.botonMenu {
  margin: 0 auto;
  display: block;
  width: 40px;
  height: 36px;
  padding: 0px 0px 20px 20px;
  border-radius: 7px;
  background: none;
  color: #6fa74c;
  cursor: pointer;
  position: relative; }
  .botonMenu span {
    display: block;
    width: 40px;
    height: 4px;
    background: #6fa74c;
    margin-top: 7px; }

label {
  cursor: pointer; }

#menu-toggle {
  display: none; }

#trickMenu {
  display: none;
  text-align: center;
  background-image: url(/images/Fondotot1.jpg);
  padding: 10px 0;
  text-decoration: none; }
  #trickMenu li a {
    display: block;
    padding: 10px 0;
    color: #6fa74c;
    font-size: 30px;
    text-decoration: none;
    font-family: "Permanent Marker", cursive; }

#menu-toggle:checked + #trickMenu {
  display: block;
  position: absolute; }

.headerMobile {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .headerMobile .tituloBotIni {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .headerMobile .tituloBotIni .tituloPag {
      font-size: 1rem; }
    .headerMobile .tituloBotIni .tituloPagina {
      margin: 20px 0px 0px 20px; }
    .headerMobile .tituloBotIni .inicioSesionBoton h3 {
      font-size: 1rem; }
    .headerMobile .tituloBotIni .inicioSesionBot {
      margin: 40px 20px 0px 0px; }

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- FOOTER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-image: url(/images/Fondotot1.jpg); }
  .footer .contactoFooter {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .footer .contactoFooter a {
      color: #c3e24c;
      padding: 15px; }
    .footer .contactoFooter :hover {
      color: #6fa74c; }
  .footer .subir {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .subir a {
      color: #c3e24c; }
    .footer .subir :hover {
      color: #6fa74c; }
  .footer .redes {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .footer .redes a {
      color: #c3e24c;
      padding: 15px; }
    .footer .redes :hover {
      color: #6fa74c; }

/* ------------------------------------ . ----------------------------------- */
/* ---------------------------------- INDEX --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
/* -------------------------------- NOTICIAS -------------------------------- */
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .news h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .news ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.new1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }
  .new1 h3 {
    text-align: center;
    font-family: "Sanchez", serif;
    color: #c3e24c;
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .new1 img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .new1 .adjuntoNota {
    width: 90%;
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #124735ce;
    border: solid 3px #126f3c;
    border-radius: 5px; }
  .new1 p {
    width: 90%;
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }
  .new1 a {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

.new2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .new2 h3 {
    text-align: center;
    font-family: "Sanchez", serif;
    color: #c3e24c;
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .new2 img {
    width: 100%; }
  .new2 a {
    text-decoration: none; }
    .new2 a p {
      width: 90%;
      font-family: "Sanchez", serif;
      color: #c3e24c;
      background-color: #12473577;
      border-radius: 5px;
      text-align: center; }

/* ----------------------- ALGUNOS VIDEOS INTERESANTES ---------------------- */
.algunosVideosInteresantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .algunosVideosInteresantes h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center;
    flex-wrap: wrap;
    width: 80%; }
  .algunosVideosInteresantes ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.videosInteresantes ul li h3 {
  text-align: center;
  font-family: "Sanchez", serif;
  color: #c3e24c; }

.videosInteresantes ul li iframe {
  width: 95%;
  height: 500px; }

/* ------------------------------------ . ----------------------------------- */
/* ------------------------------- INFORMACION ------------------------------ */
/* ------------------------------------ . ----------------------------------- */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mariqes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mariqes h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .mariqes .imagenesInfo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mariqes .imagenesInfo1 img {
      border: 5px solid transparent;
      border-image: url(/images/fondoimgs.jpg) 30 round;
      border-radius: 5px;
      width: 95%; }
  .mariqes p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px;
    width: 90%; }

.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .history h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px; }
  .history img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .history p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px;
    width: 90%; }

.usos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .usos h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .usos .imagenesInfo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .usos img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .usos p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px;
    width: 90%; }

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- CULTIVO -------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.cultiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .cultiv h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .cultiv img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .cultiv p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px;
    width: 90%; }

.outdoor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .outdoor h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .outdoor img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .outdoor p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px;
    width: 90%; }

.indoor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .indoor h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .indoor img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .indoor p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px;
    width: 90%; }

.hidro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hidro h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .hidro img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .hidro p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px;
    width: 90%; }

/* ------------------------------------ . ----------------------------------- */
/* ------------------------------- VARIEDADES ------------------------------- */
/* ------------------------------------ . ----------------------------------- */
/* ------------------------------ HALL OF FAME ------------------------------ */
.hall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .hall h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .hall img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .hall p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px;
    width: 90%; }
  .hall ol {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%; }
    .hall ol li {
      color: #126f3c;
      font-family: "Aclonica", sans-serif; }

/* --------------------------------- TOPS 10 -------------------------------- */
.top10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .top10 h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .top10 img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }

.sativas10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .sativas10 img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .sativas10 h3 {
    text-align: center;
    font-family: "Sanchez", serif;
    color: #c3e24c; }
  .sativas10 ol {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0; }
    .sativas10 ol li {
      color: #126f3c;
      font-family: "Aclonica", sans-serif; }

.indicas10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .indicas10 img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%; }
  .indicas10 h3 {
    text-align: center;
    font-family: "Sanchez", serif;
    color: #c3e24c; }
  .indicas10 ol {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0; }
    .indicas10 ol li {
      color: #126f3c;
      font-family: "Aclonica", sans-serif; }

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- E-Shop --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
@media (min-width: 0px) and (max-width: 480px) {
  .body {
    min-width: 0px;
    max-width: 480px;
    margin: 0px;
    border: 0px;
    width: 100%; } }

* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box; }

.body {
  background-image: url(/images/Fondo2.jpg);
  height: 100%; }

.li {
  list-style: none;
  padding: 0;
  margin: 0; }

.ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.ol {
  list-style: none;
  padding: 0;
  margin: 0; }

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- HEADER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  background-image: url(/images/Fondotot1.jpg); }

.titulopag {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center; }
  .titulopag a {
    text-decoration: none;
    list-style: none; }

.tituloPagina {
  color: blueviolet;
  font-family: "Rubik Moonrocks", cursive; }
  .tituloPagina span {
    color: #126f3c; }

.barra {
  flex: 1; }
  .barra .nav {
    display: flex;
    justify-content: space-around;
    align-self: flex-end; }
  .barra li {
    list-style-type: none; }
    .barra li a {
      text-decoration: none;
      list-style: none;
      font-family: "Permanent Marker", cursive;
      color: #c3e24c; }
    .barra li :hover {
      color: #6fa74c; }

.inicioSesionBoton {
  display: flex; }
  .inicioSesionBoton a {
    text-decoration: none;
    list-style: none;
    font-family: "Permanent Marker", cursive; }
  .inicioSesionBoton :hover {
    color: #6fa74c; }

.inicioSesionBot {
  text-align: center;
  color: #c3e24c; }

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- FOOTER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-image: url(/images/Fondotot1.jpg); }
  .footer .contactoFooter {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .footer .contactoFooter a {
      color: #c3e24c; }
    .footer .contactoFooter :hover {
      color: #6fa74c; }
  .footer .subir {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .subir a {
      color: #c3e24c; }
    .footer .subir :hover {
      color: #6fa74c; }
  .footer .redes {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .footer .redes a {
      color: #c3e24c; }
    .footer .redes :hover {
      color: #6fa74c; }

/* ------------------------------------ . ----------------------------------- */
/* ---------------------------------- INDEX --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
/* -------------------------------- NOTICIAS -------------------------------- */
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .news h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .news ul {
    list-style: none; }

.new1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .new1 h3 {
    text-align: center;
    font-family: "Sanchez", serif;
    color: #c3e24c; }
  .new1 img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .new1 .adjuntoNota {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #124735ce;
    border: solid 3px #126f3c;
    border-radius: 5px; }
  .new1 p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }
  .new1 a {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

.new2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .new2 h3 {
    font-family: "Sanchez", serif;
    color: #c3e24c; }
  .new2 a {
    text-decoration: none; }
    .new2 a p {
      font-family: "Sanchez", serif;
      color: #c3e24c;
      background-color: #12473577;
      border-radius: 5px; }

/* ----------------------- ALGUNOS VIDEOS INTERESANTES ---------------------- */
.algunosVideosInteresantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .algunosVideosInteresantes h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .algunosVideosInteresantes ul {
    list-style: none; }

.videosInteresantes ul li h3 {
  text-align: center;
  font-family: "Sanchez", serif;
  color: #c3e24c; }

/* ------------------------------------ . ----------------------------------- */
/* ------------------------------- INFORMACION ------------------------------ */
/* ------------------------------------ . ----------------------------------- */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.mariqes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mariqes h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .mariqes .imagenesInfo1 img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .mariqes p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }

.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .history h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .history img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .history p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }

.usos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .usos h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .usos img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .usos p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- CULTIVO -------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.cultiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .cultiv h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .cultiv img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .cultiv p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }

.outdoor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .outdoor h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .outdoor img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .outdoor p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }

.indoor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .indoor h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .indoor img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .indoor p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }

.hidro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hidro h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .hidro img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .hidro p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }

/* ------------------------------------ . ----------------------------------- */
/* ------------------------------- VARIEDADES ------------------------------- */
/* ------------------------------------ . ----------------------------------- */
/* ------------------------------ HALL OF FAME ------------------------------ */
.hall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hall h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .hall img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .hall p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }
  .hall ol {
    flex: 1;
    display: flex;
    justify-content: space-around;
    list-style: none;
    display: flex;
    justify-content: center; }
    .hall ol li {
      color: #126f3c;
      font-family: "Aclonica", sans-serif; }

/* --------------------------------- TOPS 10 -------------------------------- */
.top10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .top10 h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .top10 img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }

.sativas10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sativas10 img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .sativas10 h3 {
    text-align: center;
    font-family: "Sanchez", serif;
    color: #c3e24c; }
  .sativas10 ol {
    list-style: none;
    display: flex;
    justify-content: center; }
    .sativas10 ol li {
      color: #126f3c;
      font-family: "Aclonica", sans-serif; }

.indicas10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .indicas10 img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .indicas10 h3 {
    text-align: center;
    font-family: "Sanchez", serif;
    color: #c3e24c; }
  .indicas10 ol {
    list-style: none;
    display: flex;
    justify-content: center; }
    .indicas10 ol li {
      color: #126f3c;
      font-family: "Aclonica", sans-serif; }

/* ------------------------------------ . ----------------------------------- */
/* -------------------------------- CONTACTO -------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.quienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .quienesSomos h2 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .quienesSomos img {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }
  .quienesSomos p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }

.datosMapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .datosMapa .datos {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .datosMapa .datos h3 {
      text-align: center;
      font-family: "Sanchez", serif;
      color: #c3e24c; }
    .datosMapa .datos p {
      font-family: "Sanchez", serif;
      color: #c3e24c;
      background-color: #12473577;
      border-radius: 5px; }
  .datosMapa .mapa {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px; }

.formularioContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .formularioContacto h3 {
    font-family: "Bungee Inline", cursive;
    background-image: url(/images/fondotitulos.jpg);
    color: #124735;
    border-radius: 5px;
    text-align: center; }
  .formularioContacto p {
    font-family: "Sanchez", serif;
    color: #c3e24c;
    background-color: #12473577;
    border-radius: 5px; }
