@import "./variables.scss";
@import "./mixin.scss";
@import "./mediamobile.scss";
@import "./mediatablet.scss";
@import "./medialaptop.scss";
@include mediamobile;
@include mediatablet;
@include medialaptop;

* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    background-image: url(/images/Fondo2.jpg);
    height: 100%;
    width: 100%;
}

.li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- HEADER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.header {
    width: 100%;
    height: 150px;
    background-image: url(/images/Fondotot1.jpg);
}

// Titulo de la Pagina (CODERKUSH)
.titulopag {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;

    a {
        text-decoration: none;
        list-style: none;
    }
}

.tituloPagina {
    color: blueviolet;
    font-family: $font1;

    span {
        color: $color3;
    }
}

// Barra de Navegacion
.barra {
    li {
        list-style-type: none;

        a {
            text-decoration: none;
            list-style: none;
            font-family: $font5;
            color: $color5;
        }

        :hover {
            color: $color4;
        }
    }
}

// Boton de Inicio de Sesion
.inicioSesionBoton {
    display: flex;

    a {
        text-decoration: none;
        list-style: none;
        font-family: $font5;
    }

    :hover {
        color: $color4;
    }
}

.inicioSesionBot {
    text-align: center;
    color: $color5;
}

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- FOOTER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: url(/images/Fondotot1.jpg);

    .contactoFooter {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            color: $color5;
        }

        :hover {
            color: $color4;
        }

    }

    .subir {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: $color5;
        }

        :hover {
            color: $color4;
        }
    }

    .redes {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            color: $color5;
        }

        :hover {
            color: $color4;
        }
    }
}

/* ------------------------------------ . ----------------------------------- */
/* ---------------------------------- INDEX --------------------------------- */
/* ------------------------------------ . ----------------------------------- */

/* -------------------------------- NOTICIAS -------------------------------- */

// Cartel de NEWS
.news {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    ul {
        list-style: none;
    }
}

// Contenido de Noticia 1 (txt, img)
.new1 {
    @include estructuraColCen;

    h3 {
        @include subtitulos;
    }

    img {
        @include imagenes;
    }

    .adjuntoNota {

        font-family: $font4;
        color: $color5;
        @include encuadre;
    }

    p {
        @include texto;
    }

    a {
        list-style: none;
        text-decoration: none;
    }
}

// Contenido de Noticia 2 (txt, img)
.new2 {
    @include estructuraColCen;

    h3 {
        font-family: $font4;
        color: $color5;
    }

    a {
        text-decoration: none;

        p {
            @include texto;
        }
    }
}

/* ------------------------------------ . ----------------------------------- */
/* ------------------------------- INFORMACION ------------------------------ */
/* ------------------------------------ . ----------------------------------- */
.info {
    @include estructuraColCen;
}

// Marihuana que es?
.mariqes {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    .imagenesInfo1 {
        img {
            @include imagenes;
        }
    }

    p {
        @include texto;
    }
}

// Historia
.history {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    img {
        @include imagenes;
    }

    p {
        @include texto;
    }
}

// Usos Medicinales y recreativos
.usos {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    img {
        @include imagenes;
    }

    p {
        @include texto;
    }
}

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- CULTIVO -------------------------------- */
/* ------------------------------------ . ----------------------------------- */

// Cultivo
.cultiv {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    img {
        @include imagenes;
    }

    p {
        @include texto;
    }
}

// Exterior
.outdoor {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    img {
        @include imagenes;
    }

    p {
        @include texto;
    }
}

// Interior
.indoor {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    img {
        @include imagenes;
    }

    p {
        @include texto;
    }
}

// Hidroponico
.hidro {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    img {
        @include imagenes;
    }

    p {
        @include texto;
    }
}


/* ------------------------------------ . ----------------------------------- */
/* ------------------------------- VARIEDADES ------------------------------- */
/* ------------------------------------ . ----------------------------------- */

/* ------------------------------ HALL OF FAME ------------------------------ */
.hall {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    img {
        @include imagenes;
    }

    p {
        @include texto;
    }

    ol {
        flex: 1;
        display: flex;
        justify-content: space-around;
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            color: $color3;
            font-family: $font3;
        }
    }
}

/* --------------------------------- TOPS 10 -------------------------------- */
.top10 {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    img {
        @include imagenes;
    }
}

// Top 10 sativas
.sativas10 {
    @include estructuraColCen;

    img {
        @include imagenes;
    }

    h3 {
        @include subtitulos;
    }

    ol {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            color: $color3;
            font-family: $font3;
        }
    }
}

// Top 10 indicas
.indicas10 {
    @include estructuraColCen;

    img {
        @include imagenes;
    }

    h3 {
        @include subtitulos;
    }

    ol {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            color: $color3;
            font-family: $font3;
        }
    }
}