@import "./variables.scss";
@import "./mixin.scss";

* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body {
    background-image: url(/images/Fondo2.jpg);
}

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- HEADER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    background-image: url(/images/Fondotot1.jpg);
}

// Titulo de la Pagina (CODERKUSH)
.titulopag {
    margin: 70px 0px 20px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;

    a {
        text-decoration: none;
        list-style: none;
    }
}

.tituloPagina {
    color: blueviolet;
    font-size: 60px;
    font-family: $font1;

    span {
        color: $color3;
    }
}

// Barra de Navegacion
.barra {
    flex: 1;
    max-width: 850px;

    .nav {
        display: flex;
        justify-content: space-around;
        align-self: flex-end;
        margin-top: 100px;
        margin-right: 250px;
    }

    li {
        list-style-type: none;

        a {
            text-decoration: none;
            list-style: none;
            font-size: 20px;
            font-family: $font5;
            color: $color5;
        }

        :hover {
            color: $color4;
        }
    }
}

// Boton de Inicio de Sesion
.inicioSesionBoton {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    margin: 0px 30px 20px 0px;

    a {
        text-decoration: none;
        list-style: none;
        font-family: $font5;
    }

    :hover {
        color: $color4;
    }
}

.inicioSesionBot {
    font-size: 20px;
    text-align: center;
    color: $color5;
}

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- FOOTER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: url(/images/Fondotot1.jpg);

    .contactoFooter {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 30px;

        a {
            padding: 15px;
            color: $color5;
        }

        :hover {
            color: $color4;
        }

    }

    .subir {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 15px;
            color: $color5;
        }

        :hover {
            color: $color4;
        }
    }

    .redes {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 30px;

        a {
            padding: 15px;
            color: $color5;
        }

        :hover {
            color: $color4;
        }
    }
}

/* ------------------------------------ . ----------------------------------- */
/* ---------------------------------- INDEX --------------------------------- */
/* ------------------------------------ . ----------------------------------- */

/* -------------------------------- NOTICIAS -------------------------------- */

// Cartel de NEWS
.news {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    ul {
        list-style: none;
    }
}

// Contenido de Noticia 1 (txt, img)
.new1 {
    @include estructuraColCen;

    h3 {
        @include subtitulos;
    }

    img {
        @include imagenes;
    }

    .adjuntoNota {
        width: 60%;

        font-family: $font4;
        color: $color5;
        background-color: #124735ce;
        font-size: 20px;
        border: solid 3px $color3;
        border-radius: 5px;
    }
    p {
        width: 60%;
        font-family: $font4;
        color: $color5;
        background-color: #12473577;
        border-radius: 5px;
    }

    a {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}

// Contenido de Noticia 2 (txt, img)
.new2 {
    @include estructuraColCen;

    h3 {
        font-family: $font4;
        color: $color5;
        font-size: 35px;
    }
a{
    text-decoration: none;
    p {
        width: 100%;
        font-family: $font4;
        color: $color5;
        background-color: #12473577;
        border: solid 3px $color3;
        border-radius: 5px;
    }
}
}
/* ----------------------- ALGUNOS VIDEOS INTERESANTES ---------------------- */
// Cartel de Algunos...
.algunosVideosInteresantes{
    @include estructuraColCen;
    h2 {
        @include titulos;
    }
    ul {
        list-style: none;
    }
}
// Video 1
.videosInteresantes{
    ul{
        li{
            h3{
                @include subtitulos;
            }
        }
    }
}

/* ------------------------------------ . ----------------------------------- */
/* ------------------------------- INFORMACION ------------------------------ */
/* ------------------------------------ . ----------------------------------- */

/* ---------------------------- MARIHUANA QUE ES? --------------------------- */


// Cartel Marihuana



