@mixin mediatablet {
    @media (min-width: 481px) and (max-width: 768px) {
        .body {
            min-width: 481px;
            max-width: 768px;
            margin: 0px;
            border: 0px;
            width: 100%;
        }


        /* ------------------------------------ . ----------------------------------- */
        /* --------------------------------- HEADER --------------------------------- */
        /* ------------------------------------ . ----------------------------------- */
        .headerNormal {
            display: none;
        }

        .navMobile {
            display: flex;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .botonMenu {
            margin: 0 auto;
            display: block;
            width: 40px;
            height: 36px;
            padding: 0px 0px 20px 20px;
            border-radius: 7px;
            background: none;
            color: $color4;
            cursor: pointer;
            position: relative;

            span {
                display: block;
                width: 40px;
                height: 4px;
                background: $color4;
                margin-top: 7px;
            }
        }

        label {
            cursor: pointer;
        }

        #menu-toggle {
            display: none;
        }

        #trickMenu {
            display: none;
            text-align: center;
            background-image: url(/images/Fondotot1.jpg);
            padding: 10px 0;
            text-decoration: none;

            li {
                a {
                    display: block;
                    padding: 10px 0;
                    color: $color4;
                    font-size: 30px;
                    text-decoration: none;
                    font-family: $font5;
                }
            }
        }

        #menu-toggle:checked+#trickMenu {
            display: block;
            position: absolute;
        }

        .headerMobile {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tituloBotIni {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .tituloPag {
                    font-size: 1rem;
                }

                .tituloPagina {
                    margin: 20px 0px 0px 20px;
                }

                .inicioSesionBoton {
                    h3 {
                        font-size: 1rem;
                    }
                }

                .inicioSesionBot {
                    margin: 40px 20px 0px 0px;
                }
            }
        }


        /* ------------------------------------ . ----------------------------------- */
        /* --------------------------------- FOOTER --------------------------------- */
        /* ------------------------------------ . ----------------------------------- */

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80px;
            background-image: url(/images/Fondotot1.jpg);

            .contactoFooter {
                flex: 1;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                    color: $color5;
                    padding: 15px;
                }

                :hover {
                    color: $color4;
                }

            }

            .subir {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    color: $color5;
                }

                :hover {
                    color: $color4;
                }
            }

            .redes {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                a {
                    color: $color5;
                    padding: 15px;
                }

                :hover {
                    color: $color4;
                }
            }
        }

        /* ------------------------------------ . ----------------------------------- */
        /* ---------------------------------- INDEX --------------------------------- */
        /* ------------------------------------ . ----------------------------------- */

        /* -------------------------------- NOTICIAS -------------------------------- */

        // Cartel de NEWS
        .news {
            @include estructuraColCen;

            h2 {
                @include titulos;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }

        // Contenido de Noticia 1 (txt, img)
        .new1 {
            @include estructuraColCen;
            flex-wrap: wrap;
            width: 100%;

            h3 {
                @include subtitulos;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }

            img {
                @include imagenes;
                width: 95%;
            }

            .adjuntoNota {
                width: 90%;

                font-family: $font4;
                color: $color5;
                background-color: #124735ce;
                border: solid 3px $color3;
                border-radius: 5px;
            }

            p {
                width: 90%;
                @include texto;
            }

            a {
                list-style: none;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

            }
        }

        // Contenido de Noticia 2 (txt, img)
        .new2{
            @include estructuraColCen;
            padding: 5px;
            h3{
                @include subtitulos;
            }
            img{
                width: 95%;
            }
            a{
                @include encuadre;
                color: $color5;
                padding: 5px
            }
        }

        /* ------------------------------------ . ----------------------------------- */
        /* ------------------------------- INFORMACION ------------------------------ */
        /* ------------------------------------ . ----------------------------------- */
        .info {
            @include estructuraColCen;
        }

        // Marihuana que es?
        .mariqes {
            @include estructuraColCen;

            h2 {
                @include titulos;
            }

            .imagenesInfo1 {
                @include estructuraColCen;

                img {
                    @include imagenes;
                    width: 95%;
                }
            }

            p {
                @include texto;
                width: 90%;
            }
        }

        // Historia
        .history {
            @include estructuraColCen;

            h2 {
                @include titulos;
                margin-top: 10px;
            }

            img {
                @include imagenes;
                width: 95%;
            }

            p {
                @include texto;
                width: 90%;
            }
        }

        // Usos Medicinales y recreativos
        .usos {
            @include estructuraColCen;

            h2 {
                @include titulos;
            }

            .imagenesInfo2 {
                @include estructuraColCen;
            }

            img {
                @include imagenes;
                width: 95%;
            }

            p {
                @include texto;
                width: 90%;
            }
        }

        /* ------------------------------------ . ----------------------------------- */
        /* --------------------------------- CULTIVO -------------------------------- */
        /* ------------------------------------ . ----------------------------------- */

        // Cultivo
        .cultiv {
            @include estructuraColCen;

            h2 {
                @include titulos;
            }

            img {
                @include imagenes;
                width: 95%;
            }

            p {
                @include texto;
                width: 90%;
            }
        }

        // Exterior
        .outdoor {
            @include estructuraColCen;

            h2 {
                @include titulos;
            }

            img {
                @include imagenes;
                width: 95%;
            }

            p {
                @include texto;
                width: 90%;
            }
        }

        // Interior
        .indoor {
            @include estructuraColCen;

            h2 {
                @include titulos;
            }

            img {
                @include imagenes;
                width: 95%;
            }

            p {
                @include texto;
                width: 90%;
            }
        }

        // Hidroponico
        .hidro {
            @include estructuraColCen;

            h2 {
                @include titulos;
            }

            img {
                @include imagenes;
                width: 95%;
            }

            p {
                @include texto;
                width: 90%;
            }
        }

        /* ------------------------------------ . ----------------------------------- */
        /* ------------------------------- VARIEDADES ------------------------------- */
        /* ------------------------------------ . ----------------------------------- */

        /* ------------------------------ HALL OF FAME ------------------------------ */
        .hall {
            @include estructuraColCen;
            width: 100%;

            h2 {
                @include titulos;
            }

            img {
                @include imagenes;
                width: 95%;
            }

            p {
                @include texto;
                width: 90%;
            }

            ol {
                list-style: none;
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;
                width: 100%;

                li {
                    color: $color3;
                    font-family: $font3;
                    text-shadow: 0.05em 0.05em $color5;
                }
            }
        }

        /* --------------------------------- TOPS 10 -------------------------------- */
        .top10 {
            @include estructuraColCen;
            width: 100%;

            h2 {
                @include titulos;
            }

            img {
                @include imagenes;
                width: 95%;
            }
        }

        // Top 10 sativas
        .sativas10 {
            @include estructuraColCen;
            width: 100%;

            img {
                @include imagenes;
                width: 95%;
            }

            h3 {
                @include subtitulos;
            }

            ol {
                list-style: none;
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;

                li {
                    color: $color3;
                    font-family: $font3;
                    text-shadow: 0.05em 0.05em $color5;
                }
            }
        }

        // Top 10 indicas
        .indicas10 {
            @include estructuraColCen;
            width: 100%;

            img {
                @include imagenes;
                width: 95%;
            }

            h3 {
                @include subtitulos;
            }

            ol {
                list-style: none;
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;

                li {
                    color: $color3;
                    font-family: $font3;
                    text-shadow: 0.05em 0.05em $color5;
                }
            }
        }

        /* ------------------------------------ . ----------------------------------- */
        /* --------------------------------- E-Shop --------------------------------- */
        /* ------------------------------------ . ----------------------------------- */
        .eshop {
            @include estructuraColCen;

            ul {
                list-style: none;
                padding: 0px;
                margin: 0px;
                @include estructuraColCen;
                width: 100%;
            }

            li {
                font-family: $font3;
                color: $color3;
                font-size: 1.5rem;
                text-align: center;
                text-shadow: 0.05em 0.05em $color5;
                :hover{
                    background-color: $color4;
                }

            }

            input {
                background-color: $color5;
                border-radius: 5px;
                font-family: $font2;
            }

            // Semillas
            .semillas {
                @include estructuraColCen;
                margin-top: 10px;

                h2 {
                    @include titulos;
                }

                img {
                    @include imagenes;
                    width: 95%;
                }
            }

            // Paraferalias
            .parafernalias {
                @include estructuraColCen;
                margin-top: 10px;

                h2 {
                    @include titulos;
                }

                #Grinder {
                    img {
                        width: 95%;
                    }
                }

                img {
                    @include imagenes;
                    width: 95%
                }

                .bongui {
                    @include imagenes;
                    width: 95%;
                }
            }

            // Fertilizantes
            .fertilizantes {
                @include estructuraColCen;
                margin-top: 10px;

                h2 {
                    @include titulos;
                }

                img {
                    @include imagenes;
                    width: 95%;
                }
            }

            // Productos de CBD
            .cbdProd {
                @include estructuraColCen;
                margin-top: 10px;

                h2 {
                    @include titulos;
                }

                h3 {
                    @include subtitulos;
                }

                p {
                    @include texto;
                }

                img {
                    @include imagenes;
                    width: 95%;
                }
            }
        }

        /* ------------------------------------ . ----------------------------------- */
        /* -------------------------------- CONTACTO -------------------------------- */
        /* ------------------------------------ . ----------------------------------- */

        // Quienes Somos
        .quienesSomos {
            @include estructuraColCen;

            h2 {
                @include titulos;
            }

            p {
                @include texto;
                width: 90%;
            }
        }

        // Info y ubicacion
        .datosMapa {
            @include estructuraColCen;

            .datos {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 98%;

                h3 {
                    @include subtitulos;
                }

                p {
                    @include encuadre;
                    width: 98%;
                }
            }

            .mapa {
                @include imagenes;
                width: 95%;
                height: 100%;
                min-height: 300px;
                margin-bottom: 10px;
            }
        }

        // Formulario de contacto
        .formulario {
            @include estructuraColCen;

            h3 {
                @include subtitulos;
                font-size: 1rem;
            }
        }

        .formularioContacto {
            @include estructuraColCen;
            @include encuadre;
            width: 90%;

            h2 {
                @include subtitulos;
            }

            p {
                @include texto;
            }

            .nombreApellido {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;

                label {
                    @include subtitulos;
                }

                input {
                    background-color: $color5;
                    border-radius: 5px;
                }
            }

            .email {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;

                label {
                    @include subtitulos;
                }

                input {
                    background-color: $color5;
                    border-radius: 5px;
                }
            }

            .pais {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;

                label {
                    @include subtitulos;
                }

                input {
                    background-color: $color5;
                    border-radius: 5px;
                }

                select {
                    background-color: $color5;
                    border-radius: 5px;
                }
            }

            .consulta {
                @include estructuraColCen;

                label {
                    @include subtitulos;
                }

                input {
                    background-color: $color4;
                    border-radius: 5px;
                }

                textarea {
                    background-color: $color5;
                    border-radius: 5px;
                }
            }
        }

        /* ------------------------------------ . ----------------------------------- */
        /* ----------------------------- INICIAR SESION ----------------------------- */
        /* ------------------------------------ . ----------------------------------- */

        .pagInicioSes {
            @include estructuraColCen;
            padding: 10px;
            img {
                @include imagenes;
                width: 50%;
            }

            .formInicioSes {
                @include estructuraColCen;
                @include encuadre;
                width: 90%;

                h2 {
                    @include subtitulos;
                }

                .usuario {
                    @include composicionFormulario;
                }

                .contrasena {
                    @include composicionFormulario;
                }
            }

            .creaUsuario {
                @include estructuraColCen;

                h3 {
                    @include subtitulos;
                }

                h4 {
                    font-family: $font2;
                    font-size: 2rem;
                    color: $color4;
                }

                h4 :hover {
                    color: $color5;
                }
            }
        }

        /* ------------------------------------ . ----------------------------------- */
        /* ------------------------------ CREAR SESION ------------------------------ */
        /* ------------------------------------ . ----------------------------------- */

        .creaUsuarioCK {
            @include estructuraColCen;

            h2 {
                @include subtitulos;
            }
            h4{
                @include subtitulos;
            }

            p {
                @include texto;
                width: 90%;
                padding: 5px;
            }

            .formularioCrearUsuario {
                @include estructuraColCen;
                @include encuadre;
                width: 90%;

                form {
                    width: 100%;

                    .enviar {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-color: $color5;
                        border-radius: 5px;
                    }
                }

                .name {
                    @include composicionFormulario;
                }

                .lastname {
                    @include composicionFormulario;
                }

                .fechaN {
                    @include composicionFormulario;
                }

                .emailU {
                    @include composicionFormulario;
                }

                .contrasenaU {
                    @include composicionFormulario;
                }

                .contrasenaDobleU {
                    @include composicionFormulario;
                }

                .genero {
                    display: flex;
                    justify-content: space-around;
                    padding: 5px;
                    @include subtitulos;
                }

                .paisU {
                    @include composicionFormulario;

                    select {
                        background-color: $color5;
                        border-radius: 5px;
                    }

                }

                .terminosyC {
                    @include subtitulos;
                    display: flex;
                    justify-content: flex-start;
                    padding: 5px;

                    input {
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;
                        background-color: $color5;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}