@mixin titulos {
    font-family: $font6;
    background-image: url(/images/fondotitulos.jpg);
    color: $color2;
    border-radius: 5px;
    text-align: center;
}

@mixin estructuraColCen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin subtitulos {
    text-align: center;
    font-family: $font4;
    color: $color5;
}

@mixin imagenes {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
}

@mixin imagenesL {
    border: 5px solid transparent;
    border-image: url(/images/fondoimgs.jpg) 30 round;
    border-radius: 5px;
    width: 95%;
    max-width: 650px;
}

@mixin texto {
    font-family: $font4;
    color: $color5;
    background-color: #12473577;
    border-radius: 5px;
}

@mixin textoL {
    font-family: $font4;
    color: $color5;
    background-color: #12473577;
    border-radius: 5px;
    max-width: 800px;
    font-size: 1.2rem;
    width: 90%;
}

@mixin encuadre {
    background-color: #124735ce;
    border: solid 3px $color3;
    border-radius: 5px;
}

@mixin composicionFormulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    label {
        @include subtitulos;
    }

    input {
        background-color: $color5;
        border-radius: 5px;
    }
}