@mixin titulos {
    font-size: 40px;
    font-family: $font6;
    background-image: url(/images/fondotitulos.jpg);
    color: $color2;
}
@mixin estructuraColCen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}