/* ---------------------------- PALETA DE COLORES --------------------------- */
$color1: #122c27;
$color2: #124735;
$color3: #126f3c;
$color4: #6fa74c;
$color5: #c3e24c;

/* --------------------------------- FUENTES -------------------------------- */
$font1: 'Rubik Moonrocks', cursive;
$font2: 'Rubik Dirt', cursive;
$font3: 'Aclonica', sans-serif;
$font4: 'Sanchez', serif;
$font5: 'Permanent Marker', cursive;
$font6: 'Bungee Inline', cursive;