@mixin mediamobile {
    @media (min-width: 0px) and (max-width: 480px) {
        .body {
            min-width: 0px;
            max-width: 480px;
            margin: 0px;
            border: 0px;
        }
    }
}

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- HEADER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */
.headerNormal {
    display: none;
}

.headerMobile {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tituloBotIni {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .tituloPag {
            font-size: 1rem;
        }

        .tituloPagina {
            margin: 20px 0px 0px 20px;
        }

        .inicioSesionBoton {
            h3 {
                font-size: 1rem;
            }
        }

        .inicioSesionBot {
            margin: 40px 20px 0px 0px;
        }
    }

    .barraMobile {
        flex: 1;
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;

        .nav {
            display: flex;
            justify-content: space-around;
            align-self: flex-end;
        }

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                list-style: none;
                font-family: $font5;
                color: $color5;
            }

            :hover {
                color: $color4;
            }
        }
    }
}

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- FOOTER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: url(/images/Fondotot1.jpg);

    .contactoFooter {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            color: $color5;
            padding: 15px;
        }

        :hover {
            color: $color4;
        }

    }

    .subir {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: $color5;
        }

        :hover {
            color: $color4;
        }
    }

    .redes {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            color: $color5;
            padding: 15px;
        }

        :hover {
            color: $color4;
        }
    }
}

/* ------------------------------------ . ----------------------------------- */
/* ---------------------------------- INDEX --------------------------------- */
/* ------------------------------------ . ----------------------------------- */

/* -------------------------------- NOTICIAS -------------------------------- */

// Cartel de NEWS
.news {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

// Contenido de Noticia 1 (txt, img)
.new1 {
    @include estructuraColCen;
    flex-wrap: wrap;
    width: 100%;

    h3 {
        @include subtitulos;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    img {
        @include imagenes;
        width: 95%;
    }

    .adjuntoNota {
        width: 90%;

        font-family: $font4;
        color: $color5;
        background-color: #124735ce;
        border: solid 3px $color3;
        border-radius: 5px;
    }

    p {
        width: 90%;
        @include texto;
    }

    a {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}

// Contenido de Noticia 2 (txt, img)
.new2 {
    @include estructuraColCen;

    h3 {
        @include subtitulos;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    img {
        width: 100%;
    }

    a {
        text-decoration: none;

        p {
            width: 90%;
            @include texto;
            text-align: center;
        }
    }
}

/* ----------------------- ALGUNOS VIDEOS INTERESANTES ---------------------- */
// Cartel de Algunos...
.algunosVideosInteresantes {
    @include estructuraColCen;

    h2 {
        @include titulos;
        flex-wrap: wrap;
        width: 80%;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

// Video 1
.videosInteresantes {
    ul {
        li {
            h3 {
                @include subtitulos;
            }

            iframe {
                width: 450px;
                height: 500px;
            }
        }
    }
}

/* ------------------------------------ . ----------------------------------- */
/* ------------------------------- INFORMACION ------------------------------ */
/* ------------------------------------ . ----------------------------------- */
.info {
    @include estructuraColCen;
}

// Marihuana que es?
.mariqes {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    .imagenesInfo1 {
        @include estructuraColCen;

        img {
            @include imagenes;
            width: 95%;
        }
    }

    p {
        @include texto;
        width: 90%;
    }
}

// Historia
.history {
    @include estructuraColCen;

    h2 {
        @include titulos;
        margin-top: 10px;
    }

    img {
        @include imagenes;
        width: 95%;
    }

    p {
        @include texto;
        width: 90%;
    }
}

// Usos Medicinales y recreativos
.usos {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    .imagenesInfo2 {
        @include estructuraColCen;
    }

    img {
        @include imagenes;
        width: 95%;
    }

    p {
        @include texto;
        width: 90%;
    }
}

/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- CULTIVO -------------------------------- */
/* ------------------------------------ . ----------------------------------- */

// Cultivo
.cultiv {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    img {
        @include imagenes;
        width: 95%;
    }

    p {
        @include texto;
        width: 90%;
    }
}

// Exterior
.outdoor {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    img {
        @include imagenes;
        width: 95%;
    }

    p {
        @include texto;
        width: 90%;
    }
}

// Interior
.indoor {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    img {
        @include imagenes;
        width: 95%;
    }

    p {
        @include texto;
        width: 90%;
    }
}

// Hidroponico
.hidro {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    img {
        @include imagenes;
        width: 95%;
    }

    p {
        @include texto;
        width: 90%;
    }
}

/* ------------------------------------ . ----------------------------------- */
/* ------------------------------- VARIEDADES ------------------------------- */
/* ------------------------------------ . ----------------------------------- */

/* ------------------------------ HALL OF FAME ------------------------------ */
.hall {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    img {
        @include imagenes;
        width: 95%;
    }

    p {
        @include texto;
        width: 90%;
    }

    ol {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        li {
            color: $color3;
            font-family: $font3;
        }
    }
}

/* --------------------------------- TOPS 10 -------------------------------- */
.top10 {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    img {
        @include imagenes;
        width: 95%;
    }
}

// Top 10 sativas
.sativas10 {
    @include estructuraColCen;

    img {
        @include imagenes;
        width: 95%;
    }

    h3 {
        @include subtitulos;
    }

    ol {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        li {
            color: $color3;
            font-family: $font3;
        }
    }
}

// Top 10 indicas
.indicas10 {
    @include estructuraColCen;

    img {
        @include imagenes;
        width: 95%;
    }

    h3 {
        @include subtitulos;
    }

    ol {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        li {
            color: $color3;
            font-family: $font3;
        }
    }
}

// Top 10 hibridos
.hibridos10 {
    @include estructuraColCen;

    img {
        @include imagenes;
        width: 95%;
    }

    h3 {
        @include subtitulos;
    }

    ol {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        li {
            @include estructuraColCen;
            color: $color3;
            font-family: $font3;
            width: 100%;
        }
    }
}

// Top 10 autoflorescientes
.auto10 {
    @include estructuraColCen;

    img {
        @include imagenes;
        width: 95%;
    }

    h3 {
        @include subtitulos;
    }

    ol {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        li {
            color: $color3;
            font-family: $font3;
        }
    }
}