@mixin mediamobile {
    @media (min-width: 0px) and (max-width: 480px) {
        .body {
            min-width: 0px;
            max-width: 480px;
            margin: 0px;
            border: 0px;
        }
    }

    /* ------------------------------------ . ----------------------------------- */
    /* --------------------------------- HEADER --------------------------------- */
    /* ------------------------------------ . ----------------------------------- */
    .header {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        background-image: url(/images/Fondotot1.jpg);
    }
    
    // Titulo de la Pagina (CODERKUSH)
    .titulopag {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        a {
            text-decoration: none;
            list-style: none;
        }
    }
    
    .tituloPagina {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: blueviolet;
        font-family: $font1;
        margin-left: 30px;
    
        span {
            color: $color3;
        }
    }
    
    // Barra de Navegacion
    .barra {
        display: none;
        flex: 1;
        .nav {
            display: flex;
            justify-content: space-around;
            align-self: flex-end;
        }
    
        li {
            list-style-type: none;
    
            a {
                text-decoration: none;
                list-style: none;
                font-family: $font5;
                color: $color5;
            }
    
            :hover {
                color: $color4;
            }
        }
    }
    
    // Boton de Inicio de Sesion
    .inicioSesionBoton {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
        margin-right: 10px;
    
        a {
            text-decoration: none;
            list-style: none;
            font-family: $font5;
        }
    
        :hover {
            color: $color4;
        }
    }
    
    .inicioSesionBot {
        text-align: center;
        color: $color5;
        font-size: 1rem;
    }
}
/* ------------------------------------ . ----------------------------------- */
/* --------------------------------- FOOTER --------------------------------- */
/* ------------------------------------ . ----------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: url(/images/Fondotot1.jpg);

    .contactoFooter {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            color: $color5;
            padding: 15px;
        }

        :hover {
            color: $color4;
        }

    }

    .subir {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: $color5;
        }

        :hover {
            color: $color4;
        }
    }

    .redes {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
            color: $color5;
            padding: 15px;
        }

        :hover {
            color: $color4;
        }
    }
}

/* ------------------------------------ . ----------------------------------- */
/* ---------------------------------- INDEX --------------------------------- */
/* ------------------------------------ . ----------------------------------- */

/* -------------------------------- NOTICIAS -------------------------------- */

// Cartel de NEWS
.news {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    ul {
        list-style: none;
    }
}

// Contenido de Noticia 1 (txt, img)
.new1 {
    @include estructuraColCen;
    flex-wrap: wrap;
    width: 100%;

    h3 {
        @include subtitulos;
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    img {
        @include imagenes;
        width: 450px;
    }

    .adjuntoNota {
        width: 90%;

        font-family: $font4;
        color: $color5;
        background-color: #124735ce;
        border: solid 3px $color3;
        border-radius: 5px;
    }

    p {
        width: 90%;
        font-family: $font4;
        color: $color5;
        background-color: #12473577;
        border-radius: 5px;
    }

    a {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}

// Contenido de Noticia 2 (txt, img)
.new2 {
    @include estructuraColCen;

    h3 {
        font-family: $font4;
        color: $color5;
    }
    img{
        width: 450px;
    }
    a {
        text-decoration: none;

        p {
            width: 90%;
            font-family: $font4;
            color: $color5;
            background-color: #12473577;
            border: solid 3px $color3;
            border-radius: 5px;
        }
    }
}

/* ----------------------- ALGUNOS VIDEOS INTERESANTES ---------------------- */
// Cartel de Algunos...
.algunosVideosInteresantes {
    @include estructuraColCen;

    h2 {
        @include titulos;
    }

    ul {
        list-style: none;
    }
}

// Video 1
.videosInteresantes {
    ul {
        li {
            h3 {
                @include subtitulos;
            }
            iframe{
                width: 450px;
            }
        }
    }
}